*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --hue: 220;
  --accent: var(--hue) 50% 50%;
  --bkg: var(--hue) 40% 98%;
  --txt: var(--hue) 70% 12%;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-size: 3rem;
  background: hsl(var(--bkg));
  color: hsl(var(--txt));
  padding: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-weight: bold;
  background: none;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 0.5rem hsl(var(--accent), .2),
              0 0 0 -0.4rem hsl(var(--accent)),
              0 0 0 -0.8rem hsl(var(--accent))
  ; 
  transition: box-shadow 300ms ease-in-out;
}

button:focus {
  outline: none;
}

button:is(:hover, :focus-visible) {
  box-shadow: 0 0 0 0.4rem hsl(var(--bkg)),
              0 0 0 0.8rem hsl(var(--accent))
  ;
}